version: '3.8'

services:
  web:  # Django Web Service
    build: ./django/devtool_project  # Folder with Dockerfile of Django
    container_name: django_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./django/devtool_project:/Dev_tool-Project  # Mount Django code into the container
    ports:
      - "8000:8000"  # Open port for Django access
    environment:
      - DATABASE_URL=postgres://postgres:1234@34.172.151.247:5432/safestep  # Google Cloud PostgreSQL connection